<a href="https://colab.research.google.com/github/julianikulski/director-experience/blob/main/csr-committee/csr_committees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identifying CSR board committees
In this notebook, I am preprocessing the committee data from Refinitiv Eikon and identify which companies have a CSR related committee and which do not. Refinitiv has two data sources for committee information. First, they have a separate data field which lists CSR related committees on the board level AND the executive level. Because I am only interested in board level committees, I cannot use this list. Second, the director data from Refinitiv Eikon also contains information on the type of board committees a company has and which director is a part of those committees (albeit this dataset is missing the time period of committee membership, which therefore still needs to be manually gathered from DEF 14As). However, this director data only contains CSR related committees if their sole purpose is CSR. In many cases, companies have nominating and/or governance committees which also oversee sustainability and CSR at companies. Therefore, I cannot use this list alone either because there are many relevant committees missing from this dataset.

Therefore, in this notebook, I am using the information from the two sources as an indication for the manual review I will be doing of the DEF 14As for the missing biographies and the missing committee information. The final excel file which I write in this notebook contains all relevant companies and directors with the additional information on potentially relevant CSR board committees. This list was then completed by manually researching missing biographies and committee information from DEF 14A filings.

In [1]:
# connecting to Google Drive to access files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
from glob import glob
import os
import tqdm.notebook as tqdm
import re

In [3]:
# change settings to display full width of column content
#pd.set_option('display.max_colwidth', None)
#pd.set_option('display.max_columns', None)

## Read in data

In [4]:
# read in all committee data which was previously preprocessed
committee_df = pd.read_csv('/content/drive/My Drive/director-csr/all_committees.csv')
committee_df.drop(columns=['Unnamed: 0'], inplace=True)
committee_df.head()

                           name  ...          isin
0  mr. bradbury (brad) anderson  ...  us94106l1098
1            mr. w. robert reum  ...  us94106l1098
2        prof. pastora cafferty  ...  us94106l1098
3  mr. thomas weidemeyer , j.d.  ...  us94106l1098
4   mr. frank clark , jr., j.d.  ...  us94106l1098

[5 rows x 20 columns]

In [5]:
# how many entries are in this dataframe
committee_df.shape

(7271, 20)

In [6]:
# read in the csr sustainability committee data field by Reuters
csr_df = pd.read_excel('/content/drive/My Drive/director-csr/committees/CSR_scores_committee.xlsx')
csr_df.head()

      ISIN Code  ...  TELLABS INC - CSR Sustainability Committee
0  US88579Y1010  ...                                        Y
1  US0028241000  ...                                        Y
2  US00287Y1091  ...                                         NaN
3  IE00B4BNMY34  ...                                         NaN
4  US00507V1098  ...                                         NaN

[5 rows x 5042 columns]

## Check whether these committees include csr committees or similiar

In [7]:
# remove brackets from committee column values and
# turn the strings in the committee column into lists
committee_df['committee'] = committee_df['committee'].apply(lambda x: x.strip('[]').replace('\'', '').replace(' ', '').split(','))
committee_df['committee']

0       [audit, compensation, governance, nominating]
1       [audit, compensation, governance, nominating]
2       [audit, compensation, governance, nominating]
3                     [audit, governance, nominating]
4                               [audit, compensation]
                            ...
7266                            [audit, compensation]
7267                                     [governance]
7268                                     [governance]
7269                            [audit, compensation]
7270                                     [governance]
Name: committee, Length: 7271, dtype: object

In [8]:
# check what types of committees there are
unique_coms = []

for row in committee_df['committee']:
    for com_type in row:
        if com_type not in unique_coms:
            unique_coms.append(com_type)
        else:
            pass

unique_coms

['audit',
 'compensation',
 'governance',
 'nominating',
 'finance',
 'humanresources',
 'executive',
 'remuneration',
 'environment',
 'csrresponsibility',
 'management',
 'social',
 'shareholdergrievance']

Out of these committees, the ones that are of interest to me are: environment, csr responsibility, social, and maybe human resources (although this is likely similar to the nominating committee). I will now review the csr sustainability committee data field by Reuters.

## Preprocess the csr sustainability committee data

In [9]:
# check how many companies are included
print(csr_df.shape)
# check how many variables are included per company
print((csr_df.shape[1]-2)/csr_df.shape[0])

(630, 5042)
8.0

In [10]:
# create a list of all ISINs that will be inserted as a row in the csr_df
all_isins_list = [item for isin in csr_df['ISIN Code'] for item in [isin]*8]

# drop the isin column
csr_df.drop(columns=['ISIN Code'], inplace=True)
# remove all empty rows
csr_df.dropna(subset=['Name'], inplace=True)

# turn the Name column which contains the years into the index
csr_df['Name'] = csr_df['Name'].astype(int)
csr_df.set_index('Name', inplace=True)

# add all ISINs to the table
csr_df.loc[0] = all_isins_list
csr_df

     3M COMPANY - FISCAL PERIOD END DATE  ... TELLABS INC - CSR Sustainability Committee
Name                                      ...
2010                 2010-12-31 00:00:00  ...                                       Y
2011                 2011-12-31 00:00:00  ...                                       Y
2012                 2012-12-31 00:00:00  ...                                        NaN
2013                 2013-12-31 00:00:00  ...                                        NaN
2014                 2014-12-31 00:00:00  ...                                        NaN
2015                 2015-12-31 00:00:00  ...                                        NaN
2016                 2016-12-31 00:00:00  ...                                        NaN
0                           US88579Y1010  ...                               US8796641004

[8 rows x 5040 columns]

In [11]:
# drop any unnecessary columns from csr_df
cols = [col for col in csr_df.columns if any(['sustainability' in col.lower()])]
# create the new dataframe
csr_committee_df = csr_df[cols]

# change the column headers
changed_cols = [x.lower().split('-')[0].strip() for x in csr_committee_df.columns]
csr_committee_df.rename(columns=dict(zip(csr_committee_df.columns, changed_cols)), inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
# drop the year 2016 from the dataframe
csr_committee_df.drop([2016], inplace=True)
csr_committee_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        3m company abbott laboratories  ... sunedison inc   tellabs inc
Name                                    ...
2010          Y                   Y     ...          N             Y
2011          Y                   Y     ...          N             Y
2012          Y                   Y     ...          Y              NaN
2013          Y                   Y     ...          Y              NaN
2014          Y                   Y     ...          Y              NaN
2015          Y                   Y     ...           NaN           NaN
0     US88579Y1010        US0028241000  ...  US86732Y1091  US8796641004

[7 rows x 620 columns]

In [13]:
# remove any excess whitespace from values
csr_committee_df = csr_committee_df.applymap(lambda x: x.strip() if not pd.isna(x) else x)
csr_committee_df

        3m company abbott laboratories  ... sunedison inc   tellabs inc
Name                                    ...
2010             Y                   Y  ...             N             Y
2011             Y                   Y  ...             N             Y
2012             Y                   Y  ...             Y           NaN
2013             Y                   Y  ...             Y           NaN
2014             Y                   Y  ...             Y           NaN
2015             Y                   Y  ...           NaN           NaN
0     US88579Y1010        US0028241000  ...  US86732Y1091  US8796641004

[7 rows x 620 columns]

In [14]:
# get the duplicate column names
duplicate_cols = list(set([x for x in list(csr_committee_df.columns) if list(csr_committee_df.columns).count(x) > 1]))
print(duplicate_cols)
# remove these duplicate columns from the dataframe
dupes_df = csr_committee_df[duplicate_cols]
csr_committee_df.drop(columns=duplicate_cols, inplace=True)

# split the dupes_df into two different dfs so that I can rename the cols
new_df = dupes_df.iloc[:, ::2]
remain_dupes_df = dupes_df.iloc[:, 1::2]
# rename the columns
new_col_names = [x+'_diff isin' for x in new_df.columns]
new_df.rename(columns=dict(zip(new_df.columns, new_col_names)), inplace=True)

# add those two dataframes back to the overall dataframe
csr_committee_df = csr_committee_df.join([new_df, remain_dupes_df])
csr_committee_df

['discovery inc', 'chubb', 'alphabet inc', 'coc', 'under armour, inc.']

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        3m company abbott laboratories  ...           coc under armour, inc.
Name                                    ...
2010             Y                   Y  ...             Y                  N
2011             Y                   Y  ...             Y                  N
2012             Y                   Y  ...             Y                  N
2013             Y                   Y  ...             Y                  N
2014             Y                   Y  ...             Y                  N
2015             Y                   Y  ...             Y                  N
0     US88579Y1010        US0028241000  ...  GB00BDCPN049       US9043112062

[7 rows x 620 columns]

In [15]:
# drop any companies that have N for all years
csr_committee_no_df = csr_committee_df.copy()

for col in csr_committee_no_df.columns:
    if csr_committee_no_df[col][:-1].eq('Y').any():
        csr_committee_no_df.drop(columns=[col], inplace=True)

csr_committee_yes_df = csr_committee_df.drop(columns=csr_committee_no_df.columns)
csr_committee_yes_df

        3m company abbott laboratories  ...  alphabet inc           coc
Name                                    ...
2010             Y                   Y  ...             Y             Y
2011             Y                   Y  ...             Y             Y
2012             Y                   Y  ...             Y             Y
2013             Y                   Y  ...             Y             Y
2014             Y                   Y  ...             Y             Y
2015             Y                   Y  ...             Y             Y
0     US88579Y1010        US0028241000  ...  US02079K3059  GB00BDCPN049

[7 rows x 430 columns]

In [16]:
# transpose the dataframe
csr_committee_yes_df = csr_committee_yes_df.T
# rename the isin column from 0 to isin
csr_committee_yes_df.rename(columns={0: 'isin'}, inplace=True)
# turn everything in dataframe into lower case
csr_committee_yes_df = csr_committee_yes_df.applymap(lambda x: x.lower() if not pd.isna(x) else x)

csr_committee_yes_df

Name                   2010 2011 2012 2013 2014 2015          isin
3m company                y    y    y    y    y    y  us88579y1010
abbott laboratories       y    y    y    y    y    y  us0028241000
abbvie                  NaN  NaN  NaN    n    y    y  us00287y1091
accenture plc             y    y    y    y    y    y  ie00b4bnmy34
adobe inc                 y    y    y    y    y    y  us00724f1012
...                     ...  ...  ...  ...  ...  ...           ...
alphabet inc_diff isin    y    y    y    y    y    y  us02079k1079
coc_diff isin             y    y    y    y    y    y  us1912161007
chubb                     y    y    y    y    n  NaN  us1712321017
alphabet inc              y    y    y    y    y    y  us02079k3059
coc                       y    y    y    y    y    y  gb00bdcpn049

[430 rows x 7 columns]

## Get relevant persons from committee_df

In [17]:
# show the unique committees included in committee_df
print(unique_coms)
# select only the relevant ones
rel_comms = ['environment', 'csrresponsibility', 'social']
rel_comms

['audit', 'compensation', 'governance', 'nominating', 'finance', 'humanresources', 'executive', 'remuneration', 'environment', 'csrresponsibility', 'management', 'social', 'shareholdergrievance']

['environment', 'csrresponsibility', 'social']

In [18]:
# get the relevant person who sits on a relevant committee
rel_person = []

for index, row in committee_df.iterrows():
    for com_type in row['committee']:
        if com_type in rel_comms:
            rel_person.append(index)
        else:
            pass

print(len(rel_person), 'people with relevant committee memberships')

510 people with relevant committee memberships

In [19]:
# put all relevant people in a dataframe
all_rel_persons_df = committee_df.iloc[rel_person, :]
all_rel_persons_df

                                    name  ...          isin
335         mr. william (bill) hernandez  ...  us0126531013
337   dr. harriett (tee) taggart , ph.d.  ...  us0126531013
338                mr. jimmy (jim) nokes  ...  us0126531013
339                      mr. barry perry  ...  us0126531013
341                    mr. joseph mahady  ...  us0126531013
...                                  ...  ...           ...
7128                     richard o'brien  ...  us98389b1008
7129                     mr. david owens  ...  us98389b1008
7130          mr. james (jim) prokopanko  ...  us98389b1008
7131            mr. james (joe) sheppard  ...  us98389b1008
7134              mr. timothy (tim) wolf  ...  us98389b1008

[510 rows x 20 columns]

In [20]:
# write this dataframe to an excel file
all_rel_persons_df.to_excel('/content/drive/My Drive/director-csr/committees/people_rel_comms.xlsx',
                            sheet_name='rel_people')

In [21]:
# now I also need to add a column to the csr_committee_yes_df if there is definitely
# a board committee based on the info from all_rel_persons_df
comps_with_comm = all_rel_persons_df['isin'].unique()
csr_committee_yes_df['board_committee'] = csr_committee_yes_df['isin'].apply(lambda x: 'Yes' if x in comps_with_comm else 'No')
csr_committee_yes_df

Name                   2010 2011 2012  ... 2015          isin board_committee
3m company                y    y    y  ...    y  us88579y1010             Yes
abbott laboratories       y    y    y  ...    y  us0028241000              No
abbvie                  NaN  NaN  NaN  ...    y  us00287y1091              No
accenture plc             y    y    y  ...    y  ie00b4bnmy34              No
adobe inc                 y    y    y  ...    y  us00724f1012              No
...                     ...  ...  ...  ...  ...           ...             ...
alphabet inc_diff isin    y    y    y  ...    y  us02079k1079              No
coc_diff isin             y    y    y  ...    y  us1912161007             Yes
chubb                     y    y    y  ...  NaN  us1712321017              No
alphabet inc              y    y    y  ...    y  us02079k3059              No
coc                       y    y    y  ...    y  gb00bdcpn049             Yes

[430 rows x 8 columns]

The categorizing whether a company has a board committee related to CSR is not perfect because it relies on director information, therefore, directors sitting on multiple boards will cause false positives. However, this will be dealt with during manual review.

In [22]:
# write this dataframe to an excel file
csr_committee_yes_df.to_excel('/content/drive/My Drive/director-csr/committees/comps_rel_comms.xlsx',
                                sheet_name='rel_comps')

## Add committee

In [23]:
# read in the biography director file
dir_bio_df = pd.read_excel('/content/drive/My Drive/director-csr/director_bios_all.xlsx')
dir_bio_df.drop(columns=['Unnamed: 0'], inplace=True)
# rename the isin_x column to just isin to prepare for merging
dir_bio_df.rename(columns={'isin_x': 'isin'}, inplace=True)
dir_bio_df.head()

              name  ...                        org_name_y
0   christina gold  ...  Gold, Christina A. (Prior Board)
1   frank macinnis  ...  MacInnis, Frank T. (Prior Board)
2     denise ramos  ...          Ramos, Denise L. (Board)
3  orlando ashford  ...                               NaN
4  donald defosset  ...    DeFosset, Donald (Prior Board)

[5 rows x 37 columns]

In [24]:
# shape of the dataframe
dir_bio_df.shape

(7409, 37)

In [25]:
# merge both dataframes
dir_bio_comm_df = pd.merge(csr_committee_yes_df, dir_bio_df, how='right', on='isin')
dir_bio_comm_df.head()

  2010  ...                        org_name_y
0    y  ...  Gold, Christina A. (Prior Board)
1    y  ...  MacInnis, Frank T. (Prior Board)
2    y  ...          Ramos, Denise L. (Board)
3    y  ...                               NaN
4    y  ...    DeFosset, Donald (Prior Board)

[5 rows x 44 columns]

In [26]:
# this function is taken from biography_matching.ipynb
def clean_names(df, bio=True):
    '''
    Function to clean up the director names so that they can be matched
    Args: df = dataframe; containing director names
          bio = bool; True if the biographies dataframe is added, False otherwise 
    Returns: df = dataframe
    '''

    # change the strings to lower case
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: x.lower())

    # check if the names contain anything in parentheses and if so remove them and their content
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: re.sub(r'\([^()]*\)', '', x))

    # check if the names contain a title like ms. and mr. and if so remove them
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: re.sub(r'^\w{2,3}\. ?', '', x))

    # do two different things with the commas for the different dataframes
    if bio:
        # move the last name in the front of the comma to the back of the string and remove the comma
        df.iloc[:,0] = df.iloc[:,0].apply(lambda x: ' '.join([x.split(',')[1], x.split(',')[0]]))
    else:
        # create a new column that contains all the words after a comma at the end
        df['qualification'] = df.iloc[:,0].apply(lambda x: x.split(',')[-1] if len(x.split(',')) > 1 else None)
        df.iloc[:,0] = df.iloc[:,0].apply(lambda x: x.split(',')[0])

    # remove any initials or titles because they might be distracting when matching names
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: ' '.join([name if '.' not in name else '' for name in x.split()]))

    # remove 'the' substring from names
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: re.sub(r'^the\s', '', x))

    # ensure that all white space is stripped
    df.iloc[:,0] = df.iloc[:,0].apply(lambda x: re.sub(' +', ' ', x).strip())

    return df

In [27]:
# clean the names in the all_rel_persons_df
all_rel_persons_df = clean_names(all_rel_persons_df, bio=False)
all_rel_persons_df.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                  name  ... qualification
335  william hernandez  ...          None
337   harriett taggart  ...         ph.d.
338        jimmy nokes  ...          None
339        barry perry  ...          None
341      joseph mahady  ...          None

[5 rows x 21 columns]

In [28]:
# manual sanity check
for name in dir_bio_comm_df.sort_values(by='name', ascending=True)['name']:
    if 'fuller' in name:
        print(name)

joseph fuller
laurance fuller

During my manual review of DEF 14A reports for biographies and committee memberships, I noticed several inconsistencies in the name files and therefore, I will be doing some name replacements

In [29]:
# merge this cleaned dataframe with the dir_bio_df
dir_bio_comm_all = pd.merge(all_rel_persons_df[['name','committee']], dir_bio_comm_df, how='right', on='name')
dir_bio_comm_all.shape

(7457, 45)

In [30]:
# example of the merged dataframes
dir_bio_comm_df[dir_bio_comm_df['name'] == 'george buckley']

     2010 2011  ...      all_tickers                        org_name_y
539   NaN  NaN  ...  NYSE:BC; DB:BWI  Buckley, George W. (Prior Board)
4646    y    y  ...  NYSE:BC; DB:BWI  Buckley, George W. (Prior Board)
5394    y    y  ...  NYSE:BC; DB:BWI  Buckley, George W. (Prior Board)
6299    y    y  ...  NYSE:BC; DB:BWI  Buckley, George W. (Prior Board)

[4 rows x 44 columns]

In [31]:
# sort this dataframe by company name and not by director name
dir_bio_comm_all.sort_values(by='comp_name_x', ascending=True, inplace=True)
# rearrange the order of the dataframe
cols = list(dir_bio_comm_all.columns)
new_cols = ['name', 'org_name_x', 'org_name_y', 'board_committee', 'committee', 'comp_name_x', 'isin', 'biographies']
remove_cols = [col for col in cols if col not in new_cols]
new_cols.extend(remove_cols)
dir_bio_comm_all = dir_bio_comm_all[new_cols]

dir_bio_comm_all.head()

               name  ...                                        all_tickers
2130   thomas brown  ...                                                  -
2131   thomas brown  ...                                      NasdaqCM:LRAD
2903    inge thulin  ...  NYSE:MMM; XTRA:MMM; BMV:MMM *; SWX:MMM; LSE:0Q...
1284  vance coffman  ...  NYSE:LMT; XTRA:LOM; SWX:LMT; BASE:LMT; BMV:LMT...
641    edward liddy  ...  NYSE:ALL; NYSE:ALL.PRB; NYSE:ALL.PRA; NYSE:ALL...

[5 rows x 45 columns]

In [32]:
# what is the size of this final dataframe
dir_bio_comm_all.shape

(7457, 45)

In [33]:
# write this dataframe to an excel file
dir_bio_comm_all.to_excel('/content/drive/My Drive/director-csr/dir_bio_comm_all.xlsx',
                                sheet_name='dir_bio_comm')

## Please note the following
I had already started the manual review of the `dir_bio_comm_all` excel file when I tried some additional techniques to match directors to biographies in the `biography_matching` notebook. This additional code has now resulted in a different review list that was generated at the end of this notebook and saved as `dir_bio_comm_all.xlsx`. The manual review has been completed with the previous version of this excel list. However, it is not possible for me under the current time constraints, to revert those changes in the biography matching notebook to again generate the original excel list. Therefore, we will all have to live with this slight discrepancy in the lists generated for manual review.

**This will not change anything in relation to the overall results or calculations of this thesis.** My manually reviewed list will be compared to this newly generated excel file to ensure that no director was missed. So this can just be considered an FYI and a sorry for the inconsistency.